<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home page  <%="hello World".toUpperCase()%> </h1>
    <h1>FACEXXX!!!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptatem quam facilis iure, sequi debitis, harum amet culpa dolor dolorum eligendi quidem libero placeat expedita incidunt numquam officia, corrupti doloremque.</p>


    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, similique. Qui repellat quos accusamus. Eos in sint saepe tempore blanditiis impedit, quod possimus quaerat, explicabo totam rem, quasi delectus itaque.</p>
</body>
</html>